<div class="flex-col  flex flex-shrink flex-grow h-max max-h-screen w-screen items-center   ">
    @if( currentUrl$ | async )
    {        
          @if(isMainMenuRoute()) {

            <router-outlet class="">
            
            </router-outlet>

          }@else if(isAuthRoute()) {

            <router-outlet>
    
            </router-outlet>
          
          
        }@else  {

            <app-layout class="flex-shrink "></app-layout>  
          
      
          <div class="flex flex-col h-screen">
            <router-outlet class="">
    
            </router-outlet>
          </div>
          
    
        }   
   
    
     
      
         
    }

</div>