<div class="flex-col  flex flex-shrink h-screen max-h-screen w-screen items-center  bg-green-600 ">
    @if( currentUrl$ | async )
    {        
          @if(isMainMenuRoute()) {

            <router-outlet class="">
            
            </router-outlet>

          }@else if(isAuthRoute()) {

            <router-outlet>
    
            </router-outlet>
          
          
        }@else  {
          <div class="flex-shrink">

            <app-layout class="flex-shrink h-max w-max">
            </app-layout>  
          </div>
      
    
            <router-outlet class="">
    
            </router-outlet>
    
        }   
   
    
     
      
         
    }

</div>